/- @question.answers.each do |answer|
/  - if answer.persisted?
/    p = answer.body
/    ul
/      - answer.attachments.each do |a|
/        li = link_to a.file.file.filename, a.file.url
/    /p = answer.user.email
/
/    - if current_user == answer.user
/      .edit
/        p = link_to 'Edit', '', class: 'edit-answer-link', data: {answer_id: answer.id}
/        p = link_to 'Delete', '', class: 'delete-answer-link', data: {answer_id: answer.id}
/
/        div class='confirm-answer-delete' id='delete-answer-#{answer.id}' style='display: none'
/          .confirm
/            h4 Are you sure?
/            p = link_to 'Yes', question_answer_path(@question, answer), method: :delete, remote: true
/            a class='hide-answer-delete' href='#' No
/        p
/  = form_for [@question, answer], remote: true, html: {id: "edit-answer-#{answer.id}"} do |f|
/    = f.label :body, 'Answer'
/    = f.text_area :body
/    = f.submit 'Save'
/            h6
/              a href='#' Hide

.answers